@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 42, 42, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  margin: 0;
  min-height: 100vh;
}

.cm-editor {
  height: 100% !important;
  font-family: 'Fira Code', monospace;
}

.cm-editor .cm-scroller {
  line-height: 1.6;
} 
